.activeCanvas {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeCanvas .imagePreview {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.imagePicker {
  max-height: 20vh;
}

.audioControls {
  display: flex;
  align-items: center;
}

.audioControls .audioWave {
  height: 10vh;
  width: 10vh;
  border: 2px solid black;
  border-radius: 5vw;
}
