.activeCanvas {
  border: 2px solid black;
  background-color: black;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeCanvas .imagePreview {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.imagePicker {
  max-height: 20vh;
}

.audioControls {
  display: flex;
  align-items: center;
}

.audioControls .audioWave {
  height: 10vh;
  width: 10vh;
  border: 2px solid black;
  border-radius: 5vw;
}

.sideBar {
  height: 100%;
  position: relative;
}

.sideBar .dragger {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  border: none;
}

.sideBar .dragger :global(.ant-upload-drag-container) {
  display: flex;
  height: 100%;
  width: 100%;
}

.sideBar .dragger :global(.ant-upload) {
  padding: 0;
}

.listContainer {
  margin-top: 5px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.listContainer::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.sideBar .fileTileWrap {
  display: flex;
  align-items: center;
  position: relative;
}

.sideBar .fileTileWrap:hover::before {
  content: "";
  position: absolute;
  background-color: #f0f0f0;
  height: 100%;
  width: 100%;
  left: -10px;
  z-index: 1;
  border-radius: 5px;
}

.sideBar .fileTileWrap.selected::before {
  content: "";
  position: absolute;
  background-color: #f0f5ff;
  height: 100%;
  width: 100%;
  left: -10px;
  z-index: 1;
  border-radius: 5px;
}

.sideBar .fileTileWrap.selected::after {
  content: "";
  position: absolute;
  background-color: #10239e;
  height: 85%; /** to be overwritten dynamically by computed height of tile **/
  width: 4px;
  left: 4px;
  z-index: 1;
  border-radius: 3px;
}

.sideBar .fileTile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-right: 24px;
  z-index: 2;
}

.sideBar .fileTile .numberSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 24px;
}

.sideBar .fileTile .image {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  overflow: hidden;
}

.sideBar .selected .fileTile .image {
  border: 2px solid #10239e;
}
