.container {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}

.container h1 {
  font-size: 4rem;
}

.titleSection {
  max-height: 10vh;
}

.recordAndSendBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 10vh;
}
