.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.header {
  background-color: white;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thinSeperator {
  margin: 0;
}

.thinSeperator.vertical {
  height: 100%;
}

.titleSection {
  max-height: 10vh;
}

.recordAndSendBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 10vh;
}
