.container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.container.loader {
  align-items: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
}

.innerContainer video {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 1200px) {
  .innerContainer {
    width: 80vw;
  }
}
