.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container.loader {
  align-items: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: none;
}

.innerContainer video {
  width: 100%;
  height: auto;
}

.blendButton {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 60px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #684dff;
}

.blendButton .text {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: white;
}
